body {
    background-color: #A49BC5;
    font-family: "Century Gothic", Futura, sans-serif;;
}

.player {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
}

.board {
    width: max-content;
    margin: auto;
}

.square {
    width: 85px;
    height: 85px;
    border: 1px solid #EAD7D6;
    background: #726F9F;
    font-size: 50px;
    padding: 0px;
    float: left;
    margin: 1px;
}

.square:hover {
    background: yellow;
}

.square::after{
    content: "";
    clear: both;
    display: table;
}

.newContainer {
    clear: both;
    display: table;
    margin: auto;
    padding: 10px;
}

.newGame {
    width: 90px;
    height: 35px;
}