body {
    background-color: #A49BC5;
    font-family: "Century Gothic", Futura, sans-serif;;
}

h1 {
    text-align: center;
}

.square {
    width: 85px;
    height: 85px;
    display: inline-block;
    border: 1px solid #EAD7D6;
    background: #726F9F;
    font-size: 50px;
}

.board {
    width: max-content;
    margin: auto;
}